header {
    width:100%;
}

.top_header {
    width:100%;
    height: 30px;
    padding: 10px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    background: yellowgreen;
}

.top_header > ul {
    display: flex;
}

.top_header > ul > li {
    margin: 0 10px;
    font-size: 14px;
}

.bottom_header {
    display: flex;
    align-items: center;
}

.bottom_header > .logo {
    
}