body {
    display: flex;
}

header {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.top_header {
    height: 30px;
    padding: 20px 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    /* background: yellowgreen; */
    box-sizing: border-box;
}

.top_header > ul {
    display: flex;
}

.top_header > ul > li {
    margin: 0 20px;
    font-size: 0.8vw;
}

.bottom_header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 30px;
    border-top: 0.5px solid #000;
    border-bottom: 0.5px solid #000;
}

.bottom_header > .logo > a > img {
    width: 150px;
}

.bottom_header > .header_nav > .header_ul{
    display: flex;
    justify-content: space-between;
}

.bottom_header > .header_nav > .header_ul > li {
    margin: 0 30px;
}

.bottom_header > .right_btn {
    display: flex;
    align-items: center;
}

.bottom_header > .right_btn > .btn {
    cursor: pointer;
    margin: 0 30px 0 0;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
}

.bottom_header > .right_btn > .btn > span {
    padding: 0 0 0 10px;
}
.bottom_header > .right_btn > .btn > i {
    padding: 0 10px 0 0;
}

.bottom_header > .right_btn >figure {
    margin: 0 20px;
    cursor: pointer;
}





