header {
    width: 1800px;
    margin: 0 auto;
}

.top_header {
    width: 100%;
    height: 30px;
    padding: 10px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    background: yellowgreen;
    margin: 0 30px;
}

.top_header > ul {
    display: flex;
}

.top_header > ul > li {
    margin: 0 20px;
    font-size: 14px;
}

.bottom_header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100px;
    margin: 10px 30px;
}

.bottom_header > .logo > a > img {
    width: 150px;
    
}

.bottom_header > .header_nav > .header_ul{
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.bottom_header > .header_nav > .header_ul > li {
    margin: 0 10px;
}

.bottom_header > .right_btn {
    width: 250px;
}

.bottom_header > .right_btn > .btn {
    margin: 0 30px 0 0;
}

.bottom_header > .right_btn > i {
    padding: 10px
}





