body {
    background: url(../image/imag1.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
}

/* pc 헤더 시작 */
ul {
    display: flex;
}

.pc_header_top > ul {
    justify-content: flex-end;
    font-size: 14px;
    border-bottom: 1px solid #000;
    padding: 8px 0;
}

.pc_header_top > ul > li {
    margin-right: 30px;
}

.pc_header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-bottom: 0.5px solid #000;
}

.pc_header_bottom > h1,
.mo_header > h2 {
    background: url(../image/동아제약로고.svg);
    width: 146px;
    height: 26px;
    background-size: cover;
}

.pc_header_bottom > nav > ul> li > a {
    padding: 0 16px;
}

.header_right_box {
    display: flex;
    align-items: center;
    gap: 32px;
}

.serach_box {
    border: 1px solid #000;
    padding: 8px 16px;
    border-radius: 50px;
}

.serach_box > input {
    border: none;
    background: none;
    outline: none;
}
/* pc 헤더 끝 */

/* 모바일 헤더 시작 */
.mo_header {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 8px;
}

.mo_icon_box {
    display: flex;
    gap: 16px;
}

/* 모바일 헤더 끝 */

