:root {
    --main_color: blue;
    --sub_color: red;
    --button_bg: pink;
    --lg_font: 56px;
}

.text_color {
    color: orange;
}

.main_text {
    color: var(--main_color);
    font-size: var(--lg_font);
}

.sub {
    color: var(--main_color);
}

.btn {
    color: var(--button_bg);
}