header {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.top_header {
    width: 100%;
    height: 40px;
    background: red;
    margin: 0 auto;
}
header > h1 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.top_header > .top_header_p {
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.main_header{
    margin: 10px auto 0 ;
    padding: 0 50px;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_header > .main_header_icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main_header > .main_header_icon > i{
    color:red;
}

.main_header > nav > ul {
    display: flex;
    gap: 30px;
    color:red;
    font-weight: 800;
}
.main_header > nav > ul > li {
    cursor: pointer;
}
/* header 끝 */

/* Section 1 시작 */
.top_section {
    width: 100%;
    height: 800px;
    position: relative;
}

.top_section > img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.top_section > h2,
.top_section > p {
    position: absolute;
    color: #fff;
}

.top_section > h2 {
    top: 35%;
    left : 5%;
    font-size: 32px;
    line-height: 45px;
    font-weight: 700;
}

.top_section > p {
    top: 50%;
    left: 5%;
    font-size: 14px;
}